$font: "IBM Plex Sans", sans-serif;
$cyan: hsl(177, 68%, 64%);
$darkorange: hsl(12, 94%, 65%);
$orange: hsl(33, 100%, 70%);
$creamwhite: hsl(20, 33%, 98%);
$darkblue: hsl(244, 23%, 12%);

body {
    width: 100%;
    font-family: $font;
}

main {
    background-image: url("../assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position: 0px -300px;

    width: 375px;
    margin: 40px auto 0 auto;

    .top-textarea {
        padding-top: 40px;
        margin: 0 24px 0 24px;
        h1 {
            letter-spacing: -1px;
            line-height: 40px;
            font-size: 40px;
            color: $darkblue;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
    }

    .info-container {
        width: 100%;
        margin-top: 80px;

        .phone-img {
            img {
                width: 235px;
                margin: 0 70px;
            }
        }

        .box1 {
            position: relative;
            margin-top: -375px;
            width: 100%;
            height: 100%;
            background-color: $darkblue;
            border-radius: 20px;
            z-index: -1;
            display: flex;
            justify-content: center;
            img {
                vertical-align: baseline;
            }
        }

        .box2 {
            position: relative;
            top: -50px;
            width: 100%;
            background-color: $darkorange;
            border-radius: 20px;
            color: $creamwhite;
            padding-bottom: 30px;

            .bottom-text-container {
                padding-top: 50px;
                margin: 0 40px 0 40px;

                h1 {
                    margin: 0;
                    font-size: 32px;
                    line-height: 52px;
                    font-weight: 700;
                }

                p {
                    margin: 10px 0 0 0;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }

            .download-container {
                margin: 30px 40px 0 40px;
                .price-container {
                    display: flex;
                    align-items: center;
                    height: 88px;

                    h1 {
                        font-size: 65px;
                        font-weight: 700;
                        line-height: 52px;
                        margin-right: 20px;
                    }
                    p {
                        vertical-align: center;
                    }
                }
                a {
                    text-decoration: none;
                    .button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 60px;
                        border-radius: 10px;
                        text-align: center;
                        vertical-align: center;
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
                #ios {
                    margin-top: 30px;
                    background-color: $darkblue;
                    color: $creamwhite;
                }

                #ios:hover{
                    background-color: $cyan;
                }
                #android {
                    margin: 15px 0 10px 0;
                    background-color: $creamwhite;
                    color: $darkblue;
                }

                #android:hover{
                    background-color: $orange;
                }
            }
        }
    }
}

footer {
    width: 375px;
    margin: 10px auto;
    .bottom-text-container {
        margin: 0 24px 0 24px;
        color: $darkblue;
        h1 {
            letter-spacing: -1px;
            line-height: 40px;
            font-size: 40px;
            color: $darkblue;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;

            span {
                font-weight: 700;
            }
        }
        .social {
            a {
                margin-right: 20px;
                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}
